@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-align: center;
  padding-bottom: 150px;
}
body.dark {
  background-color: black;
}
@layer components {
  .darkAndlight {
    @apply bg-white text-black dark:bg-black dark:text-white;
  }
}
